
body {
  font-family: Arial, sans-serif;
  background-color: #FF1493;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#chat-container {
  width: 90%;
  max-width: 500px;
  background-color: #727;
  border-radius: 10px;
  overflow: hidden;
}

#header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #8d2d;
}

#profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

#header h2 {
  font-size: 18px;
  color: #fhgf;
}

#chat-box {
  padding: 15px;
  height: 400px;
  overflow-y: scroll;
  background-color: #4e1d1d;
}

.message {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.message.user {
  justify-content: flex-end;
}

.message .text {
  max-width: 70%;
  padding: 10px;
  border-radius: 10px;
  color: #000;
}

.message.user .text {
  background-color: #f2a236;
  color: #000;
}

.message.other .text {
  background-color: #444;
  color: #fff;
}

#input-container {
  display: flex;
  padding: 10px;
  background-color: #8b2d2d;
}

#message-input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
}

#message-input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(242, 162, 54, 0.5);
}

button {
  padding: 10px;
  background-color: #f2a236;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #d19c1;
}

@media (max-width: 600px) {
  #chat-container {
    width: 95%;
  }
}